/*
This is the CSS file for the Creators website.


Web Colors: 
1. Pinky  #FF17C6
2. Pinky-Purple #B719E3
3. Purple #8328FA
4. Dark Blue #2919E3
5. Blue #1C56FB
6. Dark Gray #222
7. Black #000
8. Light Gray #999
9. White #fff


*/



/* The Defaults */

* {box-sizing: border-box;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}



/* ------------ For Large Screens ------------ */
@media only screen and (min-width: 771px) {
  body {
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      ". menu main main main main main main main main . ."
      ". menu main main main main main main main main . ."
      ". menu main main main main main main main main . ."
      ". menu main main main main main main main main . ."
      ". . main main main main main main main main . ."
      ". . main main main main main main main main . ."
      ". . main main main main main main main main . ."
      ". . main main main main main main main main . ."
      ". . main main main main main main main main . ."
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  nav {
    /* Grid Things */
    grid-area: menu;
    background-color: #8328FA;
    padding: 1rem;
    position: fixed;
    margin: 16rem 6.25% 0 3.125%;
    width: 11rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    /* Everything Else */
    border-radius: 1.3rem;
  }
  nav p {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    padding: .3rem;
    border-radius: 0.2rem;
  }
  main {
    /* Grid Things */
    grid-area: main;
    background-color: #222;
    padding: 2rem;
    margin-left: 3.5rem;
  
    /* Everything Else */
    color: white;
  }
}


/* ------------ For Small Screens ------------ */
@media only screen and (max-width: 770px) {
  body {
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      ". menu menu menu menu menu menu menu menu menu . ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      ". main main main main main main main main main main ."
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  nav {
    /* Grid Things */
    grid-area: menu;
    background-color: #8328FA;

    /* Everything Else */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

    margin: 0;
    padding: 0;
  }
  nav p {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    /* padding: .6rem; */
    margin: 0;
    border-radius: 0.2rem;
  }
  main {
    /* Grid Things */
    grid-area: main;
    background-color: #222;
    padding: 1rem;
    margin: 0;
  
    /* Everything Else */
    color: white;
  }
}



/* ------------  Header  ------------ */
header {
  /* Grid Things */
  grid-area: header;
  justify-self: stretch;

  /* Everything Else */
  background-color: #8328FA;
  background-image: linear-gradient(#8328FA, #222);
  color: white;

  padding: 2rem;
  text-align: center;
}
header #pageTitle {
  font-size: 3rem;
}
header .header-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-div img {
  padding: 1rem
}
header .header-div svg {
  width: 100px;
  height: auto;
  margin: 0;
  padding: 1rem;
  color: white;
}
header .fa-solid {
  color: white;
}

/* ------------  Nav  ------------ */



nav #home:hover { /* Removes hover property for the current page */
  color: #FF17C6;
  cursor: pointer;
  background-color: white;
}
nav #streaming:hover { /* Removes hover property for the current page */
  color: #FF17C6;
  cursor: pointer;
  background-color: white;
}
nav #videos:hover { /* Removes hover property for the current page */
  color: #FF17C6;
  cursor: pointer;
  background-color: white;
}
nav #community:hover { /* Removes hover property for the current page */
  color: #FF17C6;
  cursor: pointer;
  background-color: white;
}
nav #branding:hover { /* Removes hover property for the current page */
  color: #FF17C6;
  cursor: pointer;
  background-color: white;
}

/* ------------  Body  ------------ */

.hide {
  display: none;
}

main #homeContent figure .rightFig, main #videosContent figure .rightFig, main #brandingContent figure .rightFig {
  float: right;
  /* margin: 0.75rem; */
  text-align: center;
}
main #streamingContent figure .leftFig, main #communityContent figure .leftFig {
  float: left;
  /* margin: 0.75rem; */
  text-align: center;
}
main #homeContent figure img, main #videosContent figure img, main #brandingContent figure img, main #streamingContent figure img, main #communityContent figure img { 
  max-width: 100%;
  height: auto;
}
main #homeContent div, main #videosContent div, main #brandingContent div, main #streamingContent div, main #communityContent div {
  width: 40%;
}


/* ------------  Footer  ------------ */
footer {
  /* Grid Things */
  grid-area: footer;
  background-color: #999;
  padding: 2rem;

  /* Everything Else */
  background-color: #8328FA;
  background-image: linear-gradient(#222, #8328FA);
  color: white;
  text-align: center;
}
